.input{
    width: 300px;
    display: grid;
    gap: 2.1rem;
    height: 35px;
    border-radius:px ;
    margin-top: 15px;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
}

.active {
    background-color: #007bff; 
    color: white;             
    border-color: #007bff;     
  }
  
  
  .btn1, .btn2 {
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #007bff;
    background-color: white;
    color: #007bff;
    width: 230px;
    cursor: pointer;
  }
  
  
 
  
  .edit {
    background-color: rgb(0, 128, 128);
    color: white;
    padding: 8px;
    margin-top: 10px;
  }
  
  .delete {
    background-color: rgba(247, 159, 159, 0.822);
    color: white;
    padding: 8px;
    margin-top: 10px;
  }
  .fakeimg {
    
    width: 10%;
    padding: 20px;
    justify-items: center;
    margin-left: 5px;
  }
  
  
  .card1 {
     background-color: white;
     padding: 20px;
     margin-top: 20px;
     margin-left: 25px;
    
     
     
    
  }
  .card1 .card__image {
    flex: 1;
    height: 140px;
    
  }
  
  
  .card1 .card__content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    width: 55%;
    color: black;
  }
  
  .card1 .card__content .card__title {
    font-size: 32px;
    color: black;
    text-transform: capitalize;
  }
  
  .card1 .card__content .card__describe {
    color: black;
    font-size: 16px;
  }
  .sizeForCard{
    display: flex;
    flex-direction: column;
    width:auto;
    border: 2px solid rgb(205, 205, 205);
    border-radius: 5px;
    height: auto;
   
  
  }
  
  .another-btn{
    color: black;
    width: 150px;
  }
  
 
  
  .dropdown{
    color: black;
  }
  
  .Info{
    color: black;
  }
  
  .card1{
    width: 400px;
    margin-top:45px ;
    transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    
  }
  btn1::after{
    background-color: blue;
    color: aliceblue;
  }
  .flexing  {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 300px;
    grid-gap: 30px;
    row-gap: 300px;
    padding: 20px 0;
    margin-bottom: 10px;

    
   
    padding: 10px;
  }
  
  .flexing  > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
    
  }
  .list-container{
    
    flex-wrap: wrap;
  
    
   
  }

  .columm{
    display: flex;
   gap: 2.05rem;
   margin-top:15px ;
    
  }

  .search-input{
    width: 400px;
    height: 40px;
    align-content:center;
    margin-left:-65px;
    border-radius:5px ;
    border: 2px solid grey;
  }
  
  .form2 {
    border-radius: 0.5rem;
    
    width: 90%;
    margin-top: -10px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--clr-alpha);
    outline: 2px solid var(--bg-dark);
    
   }

   